.campos{
    background-color: aqua;
    width: 50%;
    align-items: center;padding-bottom: 3rem;
}
#ingMaterias{
    display: none;
}
#resultado{
    display: none;
}
#botonNoMasMaterias{
    margin-left: 4rem;
}
#parrafo{
    margin-left: 6rem;
    font-size: 4rem;
}